<header class="header">
  <div class="header__container">
    <div class="header__logo-container">
      <h1 class="header__logo">Angular App</h1>
    </div>
    <nav class="header__menu-container">
      <ul class="header__menu-inner-container">
        <li class="header__menu-item"
          ><a class="header__menu-item-link" routerLink="/about">About</a></li>
        <li class="header__menu-item"
          ><a class="header__menu-item-link" routerLink="/contact">Contact</a></li>
        <li class="header__menu-item"
          ><a class="header__menu-item-link" routerLink="/signup">Sign up</a></li>
      </ul>
    </nav>
  </div>
</header>
<router-outlet></router-outlet>